body {
	background-image: url("../imges/luner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Verdana, Times, serif;
}

h1 {
	color: white;
}

img {
	padding-top: 50px;
}

#trackOne {
	position: relative;
	height: 150px;
	/*border: solid black 2px;*/
}

#trackTwo {
	position: relative;
	height: 150px;
	/*border: white solid 2px;*/
}

p {
	color: white;
	font-size: 24px;
	text-align: center;
	font-family: Verdana, Times, serif;
	text-shadow: 2px 2px skyblue;
}