body {
	background-image: url("../imges/luner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	color: white;
}

img {
	padding-top: 80px;
}

#trackOne {
	width: 1200px;
	height: 200px;
/*	position: relative;*/
/*	border: black solid 2px;*/
}

#trackTwo {
	width: 1200px;
	height: 200px;
/*	border: white solid 2px;*/
}