body {
	background-image: url("../imges/lunar.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Verdana, Times, serif;
}

h1 {
	color: white;
}

img {
	padding-top: 50px;
}

#trackOne {
	/*width: 1000px;*/
	height: 150px;
	/*background: black;*/
}

#trackTwo {
	/*width: 1000px;*/
	height: 150px;
	/*background-color: red;*/
}

/*#second {
	background-color: white;
}*/

/*#img1, #img2 {
	background-color: yellow;
}*/

p {
	color: white;
	font-size: 24px;
	text-align: center;
	font-family: Verdana, Times, serif;
	text-shadow: 2px 2px skyblue;
}